.idea
*.pyc
examples/datasets/*/
examples/output
sentence_transformers.egg-info
dist/
nr_*/
/examples/training_transformers/output
/sentence_transformers/bert-base-uncased/
/sentence_transformers/datasets/AllNLI.zip
/sentence_transformers/datasets/AllNLI/
